form{
    padding: 1rem;
    background-color: white;
    border-radius: 35px;
    
    width: 100%; 
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transition: all .5s  ease-out ;
    max-width: 950px;

}

.options{
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}
.result{
    color: white;
    padding: 5%;
    background-color: $very-dark-cyan;
    div{
        display: flex;
        justify-content: space-between;
    }
    
    
    border-radius: 15px;

    .person{
        display: block;
        font-size: .7rem;
        color: $grayish-cyan;
        
    }
} 
span{
    color: $strong-cyan;
    font-size: 1.3rem;
}

span::before{
    content: "$";
    
    
}

.btn{
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    width:100%;
}

.label-input{
    color: $grayish-cyan ;
    font-size: 0.8rem;
}
input{
    display: block;
    font-size: 1rem;
    width: 100%;
    height: 1.5rem;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    outline: none;
    color: $very-dark-cyan;
    background-color: $very-light-grayish-cyan;
    border-radius: 4px;
    font-weight: bold;
}


input[type=radio]{
    display:  none;

}
input[type = radio] + label{
    
    
    color: white;
    border: none;
    
    padding: .2em 0;
    background-color:  $very-dark-cyan;
    transition: all .2s  linear ;
    
}
input[type=radio]:checked + label {
    
    background-color: $strong-cyan;
    color : $very-dark-cyan;
}
input[type = number]::-webkit-inner-spin-button,
input[type = number]::-webkit-outer-spin-button{

    appearance: none;
  margin: 0;
}
.custom{
   
    padding:  .2em 0;
    text-align: center ;
    &:focus{
        
        outline: 2px solid  $strong-cyan;
    }


}
.percents-wrapper
{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: .5rem;
}



#bill{
    background: $very-light-grayish-cyan  url("../images/icon-dollar.svg") 
    no-repeat  3% 50%;
    text-align: right;
    margin-bottom: 1rem;

    &:focus{
        
        outline: 2px solid  $strong-cyan;
    }


}
#num-people{
    background: $very-light-grayish-cyan  url("../images/icon-person.svg") 
    no-repeat  3% 50%;
    
    text-align: right;
    &:focus{
        
        outline: 2px solid  $strong-cyan;
    }

}




.reset{
    width: 95%;
    border: none;
    padding: .2em;
    margin: 1em  0 1em 1em;
    background-color: $strong-cyan;
    font-weight: bold;
    color: $very-dark-cyan;
    &:active{
        background-color: aliceblue;
    }
    &:disabled{
        cursor: auto;
        background-color: $strong-cyan;
        opacity: .2;
        
    }

}


@media only screen and (min-width: 650px){
    form{
        flex-direction: row;
        height: 70vh;
       
    }
    .options{
        width: 50%;
    }
    .result{
        width: 50%;
    }
    .percents-wrapper{
        grid-template-columns: 1fr 1fr 1fr;
    }

}
.invalid-input{
    outline: 2px solid hsl(0, 78%, 52%);
}
